@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1A191D;

}

/* Add this CSS to create the text-stroke effect */
.text-stroke {
    -webkit-text-fill-color: transparent; /* Set the text color to transparent */
    -webkit-text-stroke-width: 1px; /* Adjust the width of the text stroke as needed */
    text-stroke-width: 1px; /* For non-WebKit browsers */
    -webkit-text-stroke-color: #00df9a; /* Set the color for the text stroke */
    text-stroke-color: #00df9a; /* For non-WebKit browsers */
  }
  .backdrop-blur-md {
    backdrop-filter: blur(10px);
  }
  
  /* Navbar.css (or your preferred CSS file) */
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000300;
  border-right: 1px solid #1a202c; /* You can adjust the border color */
  z-index: 1000; /* Adjust the z-index as needed */
  transition: ease-in-out 0.5s; /* Add a smooth transition effect */
}

